all:
  hosts:
    toolbox:
      ansible_host: localhost
      ansible_connection: ansible.builtin.local

hypervisor:
  hosts:
    proxmox:
      ansible_host: x.x.x.x
      ansible_user: root

almalinux:
  hosts:
    almalinux_infra:
      ansible_host: x.x.x.x
      ansible_user: almalinux
    almalinux_main:
      ansible_host: x.x.x.x
      ansible_user: almalinux
    almalinux_media:
      ansible_host: x.x.x.x
      ansible_user: almalinux
    almalinux_games:
      ansible_host: x.x.x.x
      ansible_user: almalinux
