# Rename this file to secrets.yml and fill in the required secrets
secrets:
  pterodactyl:
    # All podman secrets should preferably be alphanumeric as they will be passed via cli args or env vars
    podman:
      pterodactyl_mysql:
      pterodactyl_mysql_root:
      # Hashids salt should be 20 characters and alphanumeric
      pterodactyl_hashids:
      pterodactyl_redis:

      pterodactyl_db_root:

    # Admin credentials for panel. All values are required
    admin:
      email:
      username:
      first_name:
      last_name:
      password:

    # Panel url/ip, also include the scheme (http(s)://)
    app_url:
    # No scheme, set both to host.containers.internal when not using a proxy
    panel_host:
    wings_host:

  # Configured for cloudflare
  ddclient:
    # Needs to be granted Zone:DNS:Read and Zone:DNS:Write
    cloudflare_api_token:
    zone: example.com
    domains: example.com,sub.example.com
