- name: Install podman
  ansible.builtin.dnf:
    name: podman
    state: present

- name: Create podman user
  ansible.builtin.user:
    name: "{{ podman.user }}"
    uid: "{{ podman.uid }}"
    home: "{{ podman.home }}"

# Loginctl is from systemd, installed by default
- name: Enable linger for podman user
  ansible.builtin.command:
    argv:
      - /usr/bin/loginctl
      - enable-linger
      - "{{ podman.user }}"
    creates: "/var/lib/systemd/linger/{{ podman.user }}"

- name: Create quadlet and environment directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "755"
    owner: "{{ podman.user }}"
    group: "{{ podman.group }}"
  loop:
    - "{{ podman.home }}/.config/containers/systemd/"
    - "{{ podman.home }}/.config/containers/environment/"
